*.lo
*.la
*.o
Makefile
Makefile.in
.deps
.libs
*.swp

INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

doc/Doxyfile
doc/doxygen-build.stamp
doc/footer_SF.html
doc/libomxil-bellagio/
doc/omxregister-bellagio.1
libomxil-bellagio.pc
libomxil-bellagio.spec
src/omxregister-bellagio
test/components/audio_effects/omxaudiomixertest
test/components/audio_effects/omxvolcontroltest
test/components/resource_manager/omxrmtest

