Source: libomxil-bellagio
Priority: optional
Section: Libraries
Build-Depends: debhelper (>= 4.1.0), doxygen, libavcodec-dev, libavformat-dev, libavutil-dev, libswscale-dev, libmad0-dev, libid3tag0-dev, libasound2-dev, libvorbis-dev
Maintainer: Sandino Flores <tigrux@gmail.com>
Standards-Version: 3.6.1
Package: libomxil-bellagio0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ffmpeg
Description: Bellagio OpenMAX Integration Layer 1.1.1 project
  Bellagio OpenMAX Integration Layer 1.1.1 project
Package: libomxil-bellagio-dev
Architecture: any
Section: libs
Depends: libomxil-bellagio0 (=${Source-Version})
Description: Bellagio OpenMAX Integration Layer 1.1.1 project
  Bellagio OpenMAX Integration Layer 1.1.1 project
Package: libomxil-bellagio-bin
Architecture: any
Section: libs
Depends: libomxil-bellagio0 (=${Source-Version})
Description: Bellagio OpenMAX Integration Layer 1.1.1 project
  Bellagio OpenMAX Integration Layer 1.1.1 project
Package: libomxil-bellagio-doc
Architecture: any
Section: libs
Depends:
Description: Bellagio OpenMAX Integration Layer 1.1.1 project
  Bellagio OpenMAX Integration Layer 1.1.1 project

